// Place all the styles related to the Payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.payment{
  width: 50em;
  h1{
    font-size: 1.99em;
    line-height: 1.41em;
    margin-bottom: 0.5em;
    padding: 0;
  }
  .failure_wrapper {
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    padding: 10px;
    margin: 20px;
  }
  .payment_type_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    .payment_box{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 200px;
      height: 100px;
      border: solid 1px;
      padding: 10px;
      h2.payment_type{
        color: red;
        text-align: center;
        line-height: 1.1;
      }
      button.continue {
        background-color: #282;
        border-radius: 0.354em;
        border: solid thin #141;
        color: white;
        font-size: 1em;
        padding: 0.354em 1em;
      }
      button.continue:hover {
        background-color: #141;
      }
      #secure_web_page, #iframe {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}